<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="UTF-8">
        <title>Cinema</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="controller.js"></script>
        <link rel="stylesheet" href="syle.css">
   </head>
    <body>
        <div ng-controller = "Cinema">
            <table>
                <tr ng-repeat = "row in seats">
                    <td ng-repeat = "seat in row" class="reserved-{{seat.reserved}}" ng-click="reserve(seat)">
                        {{seat.row}}.{{seat.colum}}
                    </td>
                </tr>

            </table>
            <!--p>{{seat.row}}.{{seat.colum}}</p-->
            <form ng-submit="saveSeats()">
                <p><input type="text" ng-model="name"> Name</p>
                <p><input type="text" ng-model="email"> email</p>
                <p><input type="submit" value="Reserve"></p>
           </form>
         </div>
    </body>
</html>