table, th , td  {
    border: 3px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.reserved-1{
    background-color: green;
    color: white;
}
.reserved-0{
    background-color: lightgray;
}
.reserved-2{
    background-color: rosybrown;
}
.reserved-true{
    background-color: green;
    color: white;
}
.reserved-false{
    background-color: lightgray;
}